---
layout: default
title: Projects
---

<div class="home">
    <div class="post-list">
	<h1>Projects</h1>
	{% for post in site.categories['projects'] %}
	<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h1>
	<div class="article-content">
	    {{ post.excerpt }}
	</div>
	<hr />
	{% endfor %}

    </div>

    More of my projects and code can be found on my <a class="underlined" href="https://github.com/zacwood9">GitHub page</a>.
    <br />
    <br />
    <footer class="article-footer" mar>
	{% include author.html %}
    </footer>
</div>
